argcomplete==1.10.3
beautifulsoup4==4.8.2
chardet==3.0.4
click==8.0.3
compressed-rtf==1.0.6
docx==0.2.4
docx2txt==0.8
ebcdic==1.1.1
EbookLib==0.17.1
extract-msg==0.28.7
Flask==2.0.2
gensim==4.1.2
IMAPClient==2.1.0
itsdangerous==2.0.1
Jinja2==3.0.3
joblib==1.1.0
lxml==4.7.1
MarkupSafe==2.0.1
nltk==3.6.7
numpy==1.22.1
olefile==0.46
pdfminer.six==20191110
Pillow==9.0.0
pycryptodome==3.14.0
python-docx==0.8.11
python-pptx==0.6.21
pytz-deprecation-shim==0.1.0.post0
regex==2022.1.18
scikit-learn==1.0.2
scipy==1.7.3
six==1.12.0
sklearn==0.0
smart-open==5.2.1
sortedcontainers==2.4.0
soupsieve==2.3.1
SpeechRecognition==3.8.1
textract==1.6.4
threadpoolctl==3.1.0
tqdm==4.62.3
tzdata==2021.5
tzlocal==4.1
Werkzeug==2.0.2
xlrd==1.2.0
XlsxWriter==3.0.2
